@import "vars";


/*==========  Desktop First  ==========*/
@media(max-width: 1100px) {
  .list_left_wrap, .list_right_wrap{
    height: calc(100vh - 20%)!important;
    bottom: 0;
    top: auto!important;
    transform: none!important;
    svg{
      zoom: .7;
    }
  }
  .accent_head{
    font-size: 150px;
  }
}

@media(max-width: 900px){
  .accent_head{
    font-size: 120px;
  }
  .section_1, .section_2{
    padding-top: 90px;
  }
  .section_3{
    padding-top: 110px;
  }
  .section_4{
    padding-top: 150px;
  }
}

@media(max-width: 700px){
  .accent_head{
    font-size: 85px;
  }
  .logo_wrap{
    svg{
      zoom: .7;
    }
  }
  .list_left_wrap, .list_right_wrap{
    height: calc(100vh - 20%)!important;
    svg{
      zoom: .5;
    }
  }
  .responsive_head .hamburger{
    right: 30px;
    top: 30px;
  }
  .responsive_head nav ul{
    padding-left: 40px;
  }
}

@media(max-width: 639px) {
  .footer_ul{
    padding-left: 0;
  }
  footer{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .logo_footer{
    margin-bottom: 50px!important;
  }
}

@media(max-width: 500px){
  .section_program .special_item .content_wrap{
    margin-left: 0;
  }
  .section_program .uk-grid-large>div:nth-child(3) .content_img{
    margin-top: 0;
  }
  .accent_head{
    font-size: 60px;
  }
  .logo_wrap{
    svg{
      zoom: .4;
    }
  }
  .list_left_wrap, .list_right_wrap{
    height: calc(100vh - 20%)!important;
    svg{
      zoom: .3;
    }
  }
  .responsive_head .hamburger{
    right: 15px;
    top: 15px;
  }
}
